<div id='middle' class='big'>
  <h1>About this Web Site</h1>
  <p>
    This app is Open Source. We made it to help those
    who aren't in a situation to speak, but can still
    benefit from social connection. Sometimes all of
    us need to connect with people who can't be with
    us in person.
  </p>
  <p>
    To use the app, you will need a Join Code provided
    by a registered party. A Join Code allows you to
    start a communication room, and then copy a link
    to share with someone else who can then join the 
    room with you.
  </p>
  <p>
    For more information on the app, please see the video below:
  </p>
  <iframe style='width: 400px; height: 300px; margin: 0 auto;' src="https://www.youtube-nocookie.com/embed/xKEIuP0qTk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>