<div id='middle' class='big'>
  <h1>About Co-VidSpeak</h1>
  <img src="/logo.svg" style='height: 100px; float: left; margin-right: 10px;'/>
  <p>
    <a href="https://github.com/open-aac/covidspeak">This app is Open Source</a>. 
    We made it to help those
    who aren't in a situation to speak, but can still
    benefit from social connection. Sometimes all of
    us need to connect with people who can't be with
    us in person.
  </p>
  <p>
    To use the app, you will need a Join Code provided
    by a registered party. Join codes can be granted
    through funding opportunities, or you can
    <a href="/pricing">purchase your own</a>. Video servers
    are not free, so even though we'd like to give this away
    for everyone, we need to make suree Co-VidSpeak is
    funded in a way that it can continue to make a difference
    going forward.
  </p>
  <div style='margin: 40px 0; text-align: center;'>
      <button class='button' id='join_room' style='width: 80%;'>Start a Demo Room</button>
  </div>
  <p>
    Once you have access to a Join Code you can
    start a communication room, and then copy a link
    to share with someone else who can then join the 
    room with you. If you don't have a join code, you
    can still be invited to a room by someone who does!
  </p>
  <p>
    For more information on the app, please see the video below:
  </p>
  <iframe style='width: 100%; height: 300px; margin: 0 auto;' src="https://www.youtube-nocookie.com/embed/xKEIuP0qTk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<script>
  document.querySelector('#join_room').addEventListener('click', function() {
      location.href = "/?join=demo";
  });
</script>
