<div id='middle'>
  <div>
    <img src="https://api.adorable.io/avatars/face/eyes9/nose9/mouth9/ffff00" alt="user avatar" style='width: 50px; border-radius: 10px; border: 1px solid #888; box-shadow: 0 0 2px #000; vertical-align: middle; margin-right: 10px;'/>
    <input type="text" placeholder="Display Name" value=""/>
  </div>
  <ul>
    <li>Start a New Room</li>
    <li>Join a Room</li>
    <li>Log Out</li>
  </ul>
</div>
<!-- TODO: https://api.adorable.io/avatars/face/eyes9/nose9/mouth9/ffff00 -->
<!-- TODO: do this ^ through a CDN proxy -->
<% add_script '/api.js' %>