<div id='middle' class='buttons'>
  <div id='existing_room' style='display: none; margin-bottom: 50px;'>
    <h2>Re-Join Previous Room</h2>
    <div>
      <button id='rejoin' class='primary' style='width: 100%; height: 80px; font-size: 25px;'>
        <img src="/logo.svg" class='img_logo' style='height: 60px; margin: -10px 0;'/>
        Re-Join Room
      </button>
    </div>
  </div>
  <h2 style='margin-bottom: 10px;'>Enter your Join Code to Start a New Room</h2>
  <div>
    <form id='join'>
      <input type='text' style='width: calc(100% - 185px);' placeholder='Join Code' id='join_code' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='off'/>
      <button type='submit' class='primary' style='width: 180px; margin-right: 0;'>
        <img src="/logo.svg" class='img_logo' style='height: 40px; margin: -10px 0;'/> 
        Start Room
      </button>
      <div class='big_checkbox' style='margin: 10px 0; padding-left: 52px; text-align: left; padding-top: 0; font-size: 14px; font-size: 18px; padding-top: 10px;'>
        <label>
          <input type='checkbox' id='as_communicator' checked='true'/>
          Add me to the room as the communicator
        </label>
      </div>
      <p class='error'></p>
    </form>
    <div style='margin-top: 20px; text-align: right;'>
      <a href="#" id='join_code_help'><img class='icon' src='/icons/question-circle.svg' alt='' style='opacity: 0.7;' />        What's a Join Code?</a>
    </div>
  </div>
</div>
<!-- TODO: https://api.adorable.io/avatars/face/eyes9/nose9/mouth9/ffff00 -->
<!-- TODO: do this ^ through a CDN proxy -->

<div id="join_code_modal" class="content">
  <p style='margin-top: -10px;'>
    <img src="/logo.svg" class='img_logo' style='height: 100px; margin: 0 10px 10px 0; float: left;'/> 
    To start a Co-VidSpeak room you will need access to
    a join code.
    Co-VidSpeak rooms are created on-demand. You start
    the room which then creates a unique share link
    for that room. You can text, email, or copy and
    paste that link to the other person, and then they
    can access the room by loading the page in their
    web browser.
  </p>
  <p style='margin-top: 20px;'>
    Need a join code?
    <a href="https://www.covidspeak.org/contact.html">Contact Us</a>
    for more information.
  </p>
</div>

<script>
var ts = parseInt(localStorage.room_set_at || "0", 10);
// Allow re-joining the last room for a max of 30 minutes
if(ts > ((new Date()).getTime() - (30 * 60 * 1000)) && localStorage.room_id && localStorage.user_id) {
  document.querySelector('#existing_room').style.display = 'block';
}
if(location.search) {
  var join = (new URL(location)).searchParams.get('join');
  if(join) {
    document.querySelector('#join_code').value = join;
  }
}
document.querySelector('#join_code_help').addEventListener('click', function(event) {
  event.preventDefault();
  modal.open("What is a Join Code?", document.querySelector('#join_code_modal'));
})
document.querySelector('#rejoin').addEventListener('click', function(event) {
  event.preventDefault();
  if(localStorage.user_id && localStorage.room_id) {
    location.href = '/rooms/' + localStorage.room_id;
  }
});
document.querySelector('#join').addEventListener('submit', function(event) {
  event.preventDefault();
  var code = document.querySelector('#join_code').value;
  if(code == 'mirror') {
    location.href = '/rooms/mirror-' + (new Date()).getTime() + "x" + Math.round(Math.random() * 99999) + '/join';
    return;
  } else if(code == 'teach') {
    location.href = '/rooms/teach-me-how/join';
    return;
  }
  localStorage.removeItem('teach_return_url');
  document.querySelector('#join button').innerText = "Starting...";
  var error = document.querySelector('#join .error');
  error.innerText = '';
  session.ajax('/api/v1/users', {
    method: 'POST',
    data: {join_code: code, type: remote.backend}
  }).then(function(res) {
    localStorage.user_id = res.user.id;
    localStorage.room_id = res.user.room_id;
    localStorage.room_set_at = (new Date()).getTime();
    localStorage.self_as_communicator = document.querySelector('#as_communicator').checked ? 'true' : 'false';
    localStorage.show_images = 'true';
    localStorage.terms_accepted = 'true';
    location.href = '/rooms/' + res.user.room_id;
  }, function(err) {
    document.querySelector('#join button').innerText = "Start Room";
    if(err && err.responseJSON && err.responseJSON.throttled) {
      if(err.responseJSON.throttled == 'too_many_live') {
        error.innerText = "All rooms are in use for this join code";
      } else if(err.responseJSON.throttled == 'too_many_daily') {
        error.innerText = "Daily room limit has been reached for this join code";
        } else if(err.responseJSON.throttled == 'too_many_monthly') {
          error.innerText = "Monthly room limit has been reached for this join code";
        } else {
        error.innerText = "No rooms are available for this join code";
      }
    } else {
      error.innerText = "Please re-check your join code";
      console.error("User confirmation error: ", err);
    }
  });
});
</script>