<div id='middle' class='big'>
  <h1>Privacy Policy</h1>

  <p>Updated: April 9, 2020</p>

  <p>CoughDrop, Inc. (“CoughDrop,” “we” or “us”) values you and respects your privacy. This Privacy Policy applies to your use of CoughDrop’s Co-VidChat website located at <a href="https://covidchat.herokuapp.com">covidchat.herokuapp.com</a> (the “Site”) and CoughDrop’s Co-VidChat product, including associated parts, components and software and whether accessed via an Internet browser, smartphone, tablet or other mobile device (the “Product”). This Privacy Policy describes the type of information we may collect from you or that you may provide to us when you visits the Site or uses the Product, how that information is used and the choices you have regarding the use of such information. Your use of the Site and/or the Product indicates your acceptance of this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the Site or the Product. We invite you to contact us if you have questions about this Privacy Policy by one of the methods set forth under “Contact Us” below.</p>

  <p><strong>Use of Personal Information Collected.</strong> CoughDrop may collect information about you that can be used to contact or uniquely identify you (“Personal Information”), only on a strictly voluntary basis. Such Personal Information may include information such as your name, postal address, email address, IP address, telephone number and biographic data.</p>

  <p>We collect Personal Information from you if you request information from us, sign up to join our email lists, or otherwise volunteer such information to CoughDrop. The Personal Information we collect is used to notify you of updates to our Site, other websites, products or services we offer, to respond to inquiries, to carry out our obligations and enforce our rights, and to fulfill any other purpose for which you provide your Personal Information to us. We retain your Personal Information for a reasonable number of years thereafter, or until you request that we delete it. Any information exposed during usage of the product and not explicitly provided to use will not be stored, shared or sold to third parties.</p>

  <p>Your Personal Information, including, without limitation, your email address, will not be sold or provided to third parties except as set forth in this Privacy Policy. In the event we would like to use information collected from you in a manner different from that stated at the time of collection, we will obtain your consent to do so.</p>

  <p><strong>Information Provided By a Child.</strong>  The Children's Online Privacy Protection Act of 1998 and its rules require us to inform parents and legal guardians about our practices for collecting, using and disclosing Personal Information from children under the age of 13. Children under the age of 13 may use the Site and/or the Product solely with the express consent of their parent or guardian.  If you permit your child to use the Site and/or Product, you hereby represent and warrant that you have consented to such use, and you hereby agree that you will be responsible in all respects for your child’s use of the Site and/or Product.  Notwithstanding the foregoing, under no circumstances may a child under the age of 13 submit or otherwise enter or make available any Personal Information about himself/herself (including, without limitation, through the use of open-text fields).  If you become aware that your child has submitted or made available Personal Information to us, please contact us through any of the methods described under “Contact Us” and we will promptly delete such Personal Information.</p>

  <p><strong>Health-Related Personal Information.</strong>  Please do not submit or store any information regarding your or anyone else’s health or medical status (pursuant to all applicable laws) using the Site or the Product.  If and to the extent you choose to do so, you understand and agree that (a) you and you alone bear the sole burden and responsibility of obtaining any consents or authorizations for disclosures of patient information that may be necessary under federal, state and local law; (b) any errors or inaccuracies in the information that you submit through the Site or Product are your responsibility and could result in deficiencies in your use of the Site or Product; and (c) CoughDrop takes no responsibility for, and makes no representations or warranties concerning, the accuracy of any information entered, disclosed or transmitted by you.</p>

  <p><strong>Information We Share.</strong> We use third parties to help us provide services to users, such as monitoring site activity, maintaining our database, and administering emails. Third parties also provide us with aggregate, comparative information regarding the performance of our Site.</p>

  <p>You should be aware that we may disclose specific information about you if required to do so by law or based on our good faith belief that it is necessary to enforce or apply our Terms of Use, conform or comply with applicable law or is necessary to protect us, the users of our Site or others.</p>

  <p>Other than as set forth above, we will not share or sell your information to any outside organization without your consent.</p>

  <p><strong>Your Choices.</strong> If you do not wish for us to use your Personal Information to send you promotions regarding our products or services, you can opt out of such use by checking the relevant box located on the form on which we collect your Personal Information or at any other time by sending an email to <a href="mailto:brian@mycoughdrop.com">brian@mycoughdrop.com</a> stating your request. If we have sent you a promotional email, you may choose not to receive further promotional emails from us by clicking on the unsubscribe link at the bottom of such email.</p>

  <p><strong>Contact Us.</strong> If you have submitted Personal Information to us and you would like that information deleted from our records or would like to update or correct that information, or have any other questions or concerns regarding your Personal Information, please click on the “Contact Us” link on our Site, call us at (801) 997-0844, email us at <a href="mailto:brian@mycoughdrop.com">brian@mycoughdrop.com</a>, or write to us at:
  <br/><br/>CoughDrop, Inc.
  <br/>Attn: Brian Whitmer
  <br/>9733 Sharolyn Ln.
  <br/>South Jordan, UT 84095</p>

  <p>CoughDrop will use commercially reasonable efforts to make corrections to or remove your Personal Information from our records.</p>

  <p><strong>Updates and Effective Date.</strong> CoughDrop reserves the right to make changes to this Privacy Policy at any time. If there is a material change in our privacy practices, we will indicate on the Site that our privacy practices have changed and provide a link to the new policy. In the event we make a material change to how we use your Personal Information, we will provide you with an opportunity to opt out of such new or different use. The date the Privacy Policy was last revised is identified at the top of this page. You are responsible for periodically reviewing the Site and this Privacy Policy to check for any updates or changes.</p>

  <p>© 2020 CoughDrop, Inc. All rights reserved.</p>
</div>