<div class='grid communicator'>
  <div class='menu'>
    <div class='button' data-action='quick'>
      <div class='label'>
        Quick
      </div>
      <img class='icon' src='/icons/chat-quote.svg' alt='' />
    </div>
    <div class='button with_popover' data-action='load'>
      <div class='label'>
        Load
      </div>
      <img class='icon' src='/icons/bag.svg' alt='' />
      <div class='popover' id='grids_popover'>
        <div class='popover_carat'></div>
        <div class='grids'>
        </div>
        <div class='configure_grids'>
          <a href="#" class='personalize'>More...</a>
        </div>
      </div>
    </div>
    <div class='button' data-action='customize'>
      <div class='label'>
        <span class='wide'>Customize</span>
        <span class='skinny'>Edit</span>
      </div>
      <img class='icon' src='/icons/pencil.svg' alt='' />
    </div>
    <div class='button with_popover' data-action='send'>
      <div class='label'>
        React
      </div>
      <img class='icon' src='/icons/heart-fill.svg' alt='' />
      <div class='popover' id='reactions_popover'>
        <div class='popover_carat'></div>
        <div class='reactions'>
        </div>
        <div>
          <a href="#" class='more_reactions'>More...</a>
        </div>
      </div>
    </div>
    <div class='button with_popover' data-action='more'>
      <div class='label'>
        More
      </div>
      <img class='icon' src='/icons/three-dots-vertical.svg' alt=''/>
      <div class='popover' id='bottom_popover'>
        <div class='popover_carat' style='position: absolute; top: 9px; height: 100%;'></div>
        <div class='extras'>
          <div style='margin-top: 5px;'><img src='/logo.svg' style='height: 40px; vertical-align: middle; margin-right: 5px; margin-top: -15px; margin-bottom: -5px;'/><span style='color: #ccc; font-style: italic; vertical-align: middle;'>Co</span>-<span style='color: #fff; font-weight: bold; vertical-align: middle;'>VidSpeak</span></div>
          <div class='button sub_button for_communicator' data-action='invite'>
            Invite
            <img class='icon' src='/icons/people-circle.svg' alt='' />
            </div>
          <div class='button sub_button for_visitor' data-action='info'>
            Info
            <img class='icon' src='/icons/info-circle.svg' alt='' />
            </div>
          <span class='connected'>
            <div class='button sub_button' data-action='share'>
              Show
              <img class='icon' src='/icons/images.svg' alt='' />
              </div>
          </span>
          <span class='disconnected'>
            <div class='button sub_button' data-action='reconnect'>
              Re-Connect
              <img class='icon' src='/icons/plug.svg' alt='' />
              </div>
          </span>
          <div class='button sub_button' data-action='settings'>
            Settings
            <img class='icon' src='/icons/gear.svg' alt='' />
            </div>
          <div class='button sub_button' data-action='help'>
            Help
            <img class='icon' src='/icons/question-circle.svg' alt='' />
            </div>
          <div class='button sub_button' data-action='end'>
            End
            <img class='icon' src='/icons/power.svg' alt='' />
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col left'>
    <a href='#' class='cell' data-idx='0'>
      <div class='text'></div><img />
    </a>
    <a href='#' class='cell' data-idx='3'>
      <div class='text'></div><img />
    </a>
    <a href='#' class='cell' data-idx='5'>
      <div class='text'></div><img />
    </a>
  </div>
  <div class='mid'>
    <a href='#' class='cell skinny' data-idx='1'>
      <div class='text'></div><img />
    </a>
    <div class='preview'>
      <div id="partner">
      </div>
      <div id='no_preview'>
        <div class='volume'>
          <div class='bar'></div>
        </div>
        <div class='icon'>
          <img src='/icons/person-square.svg' />
        </div>
      </div>
      <div id="status_holder">
        <div id='status'>
          <div id='status_text'>Initializing...</div>
          <div id='status_invite'>
            <button id='invite_partner' class='primary'>Invite Partner</button>
          </div>
          <div id='status_leave'>
            <button id='leave_room' class='primary'>Leave Room</button>
          </div>
          <div id='status_continue'>
            <button id='continue_teaching' class='primary'>I'm Ready!</button>
          </div>
          <div id='status_popout'>
            <button id='copy_for_popout' class='primary'>Copy Link to Load in Browser</button>
          </div>
        </div>
      </div>
      <div id="communicator">
      </div>
      <div id="end_preview"></div>
      <div id="nav">
        <span class='pres'>
          <button class='mute' tabindex='-1'><img src="/icons/mic-mute.svg" alt="mute"/></button>
          <button class='unmute' tabindex='-1'><img src="/icons/mic.svg" alt="unmute"/></button>
          <button class='toggle' tabindex='-1'><img src="/icons/camera-video.svg" alt="toggle"/></button>
        </span>
        <button class='zoom' data-direction='in' tabindex='-1'>+</button>
        <button class='zoom' data-diration='out' tabindex='-1'>-</button><br/>
      </div>
      <div id="volume_level">
      </div>
      <div id="text">
        <input class='text_input' type='text'/>
        <div class='text_display'></div>
        <div class='prompt' id='text_prompt'>
          <img src="/icons/cursor-text.svg" class='cursor'/>
          <img src="/icons/slash-circle.svg" class='clear'/>
        </div>
      </div>
    </div>
    <a href='#' class='cell' data-idx='6' style='flex: 3;'>
      <div class='text'></div><img />
    </a>
    <div id='eyes'>
      <div>
        align eyes here-ish<br/>
        (zoom/drag to move)
      </div>
    </div>
  </div>
  <div class='col right'>
    <a href='#' class='cell' data-idx='2'>
      <div class='text'></div><img />
    </a>
    <a href='#' class='cell' data-idx='4'>
      <div class='text'></div><img />
    </a>
    <a href='#' class='cell' data-idx='7'>
      <div class='text'></div><img />
    </a>
  </div>
</div>
<div id="share_modal" class="content">
  <p>
    <img src="/icons/images.svg" style='float: left; height: 50px; margin: 0 15px 4px 0;'/>
    Sharing photos, videos, or even things from your screen
    can be a great distraction, or can help spur a
    conversation. Some devices don't support all sharing
    types, so if you don't see any sharing options, try
    accessing from a different device.
  </p>
  <div class='options' style='margin: 30px 30px; text-align: center;'>
    <button class="modal_button end primary" style='width: calc(90% + 14px); display: none;'>
      <img src="/icons/stop.svg" style='filter: invert(1);'>End Current Share
    </button>
    <button class="modal_button picture" style='width: 45%; min-height: 50px; height: auto; display: none;'>
      <img src="/icons/image.svg">Share Picture
    </button>
    <button class="modal_button video" style='width: 45%; min-height: 50px; height: auto; display: none;'>
      <img src="/icons/camera-video.svg">Share Video
    </button>
    <button class="modal_button screen" style='width: 45%; min-height: 50px; height: auto; display: none;'>
      <img src="/icons/fullscreen.svg">Share Screen
    </button>
    <button class="modal_button custom" style='width: 45%; min-height: 50px; height: auto; display: none;'>
      <img src="/icons/link-45deg.svg">Custom Resource
    </button>
  </div>
  <div style='margin: 30px 50px; text-align: center; display: none;' class='custom_share'>
    <input type='text' class='custom_url' placeholder="Paste a URL here" style='width: 100%;'/>
    <div class='url_status' style='margin-bottom: 10px;'>
    </div>
    <button class='add_url primary' style='display: none;'>Share Resource</button>
  </div>
  <p>
    
  </p>
</div>
<div id="share_layouts_modal" class="content">
  <p>
    When you've created a particularly useful collection
    of custom vocabularies, you can bundle them together
    to make them public and
    share with others!
    <b>NOTE:</b> Bundles are publicly available and
    re-shareable. 
    Do NOT include any private information in any
    shared bundles.
  </p>
  <div style='margin: 10px 0;'>
    <input id='bundle_name' type='text' placeholder="Bundle Name" style='min-width: 300px; margin-bottom: 5px;'/><br/>
    <input id='bundle_author_name' type='text' placeholder="Bundle Author" style='min-width: 300px; margin-bottom: 5px;'/>
    <input id='bundle_description' type='text' placeholder="Bundle Description" style='width: 100%; margin-bottom: 5px;'/>
  </div>
</div>
<div id="grids_modal" class="content">
  <p>
    You can re-arrange the default layouts, or paste a
    link to a layout defined somewhere else (for example,
    <a href="https://app.mycoughdrop.com/whitmer/co-vidspeak-template" target='_blank'>a <em>public</em> CoughDrop board</a>)
  </p>
  <div style='margin: 10px 0;'>
    <input id='layout_url' type='text' placeholder="paste grid URL/code here to add" style='width: calc(100% - 190px); height: 35px; vertical-align: middle; font-sizee: 16px; color: #444;'/>
    <button class='add_layout' style='width: 170px; height: 35px; vertical-align: middle; padding-top: 5px;'>Add Layout(s)</button>
  </div>
  <div class='add_status'></div>
  <div class='grid_options'>
    <div class='template grid' style='display: none;'>
      <img class='image'/>
      <span class='name'></span>
      <div class='links'>
        <button class='up'><img src='/icons/arrow-up.svg' alt='move up' /></button>
        <button class='down'><img src='/icons/arrow-down.svg' alt='move down' /></button>
        <button class='delete'><img src='/icons/trash.svg' alt='remove' /></button>
      </div>
    </div>
  </div>
  <div style='margin-top: 30px;'>
    <p>
      You can also export your layout list so you can
      share it with others or load it onto a different device.
      Hit the button to copy a code you can send to someone
      else, they can paste it into the "Add Layout" field
      to use the same layouts as you.
    </p>
    <div style='text-align: center;'>
      <button class='copy'>Copy Order</button>
      <button class='share'>Share Layouts</button>
      <button class='reset'>
        Reset Layouts
        <div class='confirm' style='font-size: 14px; color: #800; display: none;'>hit again to confirm</div>
      </button>
    </div>
  </div>
</div>
<div id="info_modal" class="content">
  <div class='section default'>
    <p>
      This app was created to provide simple communication
      supports for isolated individuals who may not be in 
      a situation to speak out loud, but can still benefit
      from emotional connection from those who cannot be
      physically present.
    </p>
    <p>
      You can learn more about 
      <a href="/intro" target="_blank">how to use the app here</a>.
    </p>
  </div>
  <div class='section mirror' style='display: none;'>
    <p>
      You are currently in a practice room for Co-VidSpeak!
      This app was created to provide simple communication
      supports for isolated individuals who may not be in 
      a situation to speak out loud, but can still benefit
      from emotional connection from those who cannot be
      physically present.
    </p>
    <p>
      Since this room is a practice room, you can't
      use it to talk to anyone other than yourself.
      If you would like to use this app for a two-way
      video call, you will need to 
      <a href="https://www.covidspeak.org/contact.html" target='_blank'>request a join code first</a>.
    </p>
  </div>
  <div class='section teaching' style='display: none;'>
    <p>
    You are currently in a training room for Co-VidSpeak!
    This app was created to provide simple communication
    supports for isolated individuals who may not be in 
    a situation to speak out loud, but can still benefit
    from emotional connection from those who cannot be
    physically present.
  </p>
  <p>
    Since this room is a training room, you can't
    use it to talk to anyone other than yourself.
    If you would like to use this app for a two-way
    video call, you will need to 
    <a href="https://www.covidspeak.org/contact.html" target='_blank'>request a join code first</a>.
  </p>
  </div>
</div>
<div id="customize_modal" class="content">
  <div style='margin-bottom: 10px; text-align: center;'>
  Choose a button layout and fill it out!
  <br/>
  NOTE: you can also <a href="#" class='personalize'>load boards from other web sites</a>
  <span class='reverse' style='display: none;'><span style='color: #800; font-weight: bold;'>NOTE:</span> The buttons you fill out will look reversed from how you enter them, but will show up correctly for the communicator's eyes.</span>
  </div>
  <div style='display: flex; flex-direction: row;'>
    <button style='flex: 1;' class='size' data-size='4'>4 Buttons</button>
    <button style='flex: 1;' class='size' data-size='6'>6 Buttons</button>
    <button class='size primary' data-size='8' style='flex: 1; margin-right: 0;'>8 Buttons</button>
  </div>
  <div id='layouts'>
    <div class='layout'>
      <div class='layout_container'>
        <div class='layout_column'>
          <div class='layout_button'><input type='text' name='l1' placeholder="[button text]"/></div>
          <div class='layout_button'><input type='text' name='l2' placeholder="[button text]"/></div>
          <div class='layout_button'><input type='text' name='l3' placeholder="[button text]"/></div>
        </div>
        <div class='layout_column'>
          <div class='layout_button'><input type='text' name='m1' placeholder="[button text]"/></div>
          <div class='layout_button preview' style='flex: 6;'><img src='/icons/person.svg'/></div>
          <div class='layout_button' style='flex: 3;'><input type='text' name='m2' placeholder="[button text]"/></div>
        </div>
        <div class='layout_column'>
          <div class='layout_button'><input type='text' name='r1' placeholder="[button text]"/></div>
          <div class='layout_button'><input type='text' name='r2' placeholder="[button text]"/></div>
          <div class='layout_button'><input type='text' name='r3' placeholder="[button text]"/></div>
        </div>
      </div>
    </div>
  </div>

</div>
<div id="demo_room_expired" class="content">
  <p style='margin: 20px;'>
    <img src='/logo.svg' style='height: 80px; float: left; margin-right: 10px;'/>
    Thanks for giving Co-VidSpeak a try! This demo room
    has expired. We hope you had a chance to try out some
    of the great features, and see how Co-VidSpeak can 
    help communicators feel more connected and engaged
    in remote conversations.
  </p>
  <p>
    When you are ready to use Co-VidSpeak for full-length
    sessions, please
    <a href="https://www.covidspeak.org/contact.html">request a join code</a>.
    Join codes let you host rooms without a timeout, 
    schedule rooms in advance, and paid accounts help us
    fund the application for families who need Co-VidSpeak 
    in an emergency setting.
  </p>
</div>
<div id="room_expired" class="content">
  <p style='margin: 20px;'>
    <img src='/logo.svg' style='height: 80px; float: left; margin-right: 10px;'/>
    Thanks for using Co-VidSpeak! This room has ended.
    We set a hard limit on room time to prevent abuse.
    If you have need of longer room sessions for a specific
    reason, please let us know and we will see how we
    can accommodate.
  </p>
</div>
<div id="demo_modal" class="content">
  <p style='margin: 20px;'>
    <img src='/logo.svg' style='height: 100px; float: left; margin-right: 15px;'/>
    This <b>Demo Room</b> will let you try all the features
    of Co-VidSpeak for yourself to see how the partner
    conferencing app works, but will
    <b>expire after 3 minutes of activity/b>. If you would like to
    use Co-VidSpeak for longer sessions, schedule rooms in
    advance and have a dedicated join code, please
    <a href="https://www.covidspeak.org/contact.html" target='_blank'>request a join code</a>.
  </p>
</div>
<div id="invite_modal" class="content">
  <a class="link" style='position: absolute; left: -2000px;'>http://www.example.com</a>
  <div class='options' style='margin: 30px 30px; text-align: center;'>
    <p style='margin-top: -10px; margin-bottom: 20px;'>
      You can invite someone to join this room by sending
      them a link, scanning and sharing a QR code, or 
      telling them a short-term join code.
    </p>
    <button class="modal_button" rel="share" style='display: none; width: calc(90% + 14px); min-height: 50px; height: auto;'>
      <img src="/icons/share-fill.svg">Share
    </button>
    <button class="modal_button" rel="scan" style='width: 45%; min-height: 50px; height: auto;'>
      <img src="/icons/upc-scan.svg">Scan Code
    </button>
    <button class="modal_button" rel="copy" style='width: 45%; min-height: 50px; height: auto;'>
      <img src="/icons/clipboard.svg"><span class='copy_status'>Copy Link</span>
    </button>
    <button class="modal_button" rel="join_code" style='width: 45%; min-height: 50px; height: auto;'>
      <img src="/icons/card-text.svg">Join Code
    </button>
    <button class="modal_button" rel="email" style='width: 45%; min-height: 50px; height: auto;'>
      <img src="/icons/envelope.svg">Email/SMS
    </button>
  </div>
  <div class='scan_view view' style='display: none;'>
    <p>
      Hold up 
      your camera app (or QR Code app on Kindle Fires)
      to scan this code and load a link you can share
      with others:
    </p>
        
    <div class='qr_code'>
    </div>
  </div>
  <div class='email_view view' style='display: none;'>
    <p>Enter the email address or cell number you'd like to have receive an invite link:</p>
    <form style='text-align: center; margin-top: 40px;' id='external_invite'>
      <input type='text' id='invite_target' placeholder='Email or SMS'/>
      <button type='submit' class='button' id='send_invite' style='width: 150px;'>Send Invite</button>
    </form>
  </div>
  <div class='join_code_view view' style='display: none;'>
    <p>You can tell people to go to covidspeak.org, hit "Join a Room", and enter the following three words with a space between each word to join your room. This code will expire in 5 minutes.</p>
    <div class='temp_join_code' style='font-size: 25px; text-align: center; margin: 40px;'>
        loading...
    </div>
  </div>
  <div class='shown_link' style='display: none;'></div>
</div>
<div id="settings_modal" class="content">
  <div class='half'>
    <h2>Text to Speech</h2>
    <select id='tts_select'>
      <option value='all'>Speak button hits for both parties</option>
      <option value='none'>Don't speak when buttons are hit</option>
    </select>
  </div>
  <div class='half'>
    <h2>Pictures on Buttons</h2>
    <select id='symbol_select'>
      <option value='lessonpix'>LessonPix Pictures</option>
      <option value='twemoji'>Emoji Symbols</option>
      <option value='none'>Don't Show Any Pictures</option>
    </select>
  </div>
  <div class='half' style='clear: left;'>
    <h2>Video Input</h2>
    <select id='video_select'></select>
  </div>
  <div class='half'>
    <div id='settings_symbol_preview'>
      <div class='lessonpix_preview'>
        <img src="https://lessonpix.com/drawings/234158/150x150/234158.png"/>
        <img src="https://lessonpix.com/drawings/130397/150x150/130397.png"/>
        <img src="https://lessonpix.com/drawings/4720/150x150/4720.png"/>
        <img src="https://lessonpix.com/drawings/1354/150x150/1354.png"/>
        <img src="https://lessonpix.com/drawings/1680702/150x150/1680702.png"/>
      </div>
      <div class='twemoji_preview'>
        <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f5e3.svg"/>
        <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f4ac.svg"/>
        <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f3ad.svg"/>
        <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f6b6.svg"/>
        <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f4dc.svg"/>
      </div>
      <div class='none_preview'>
        No pictures will be shown on buttons
      </div>
    </div>
  </div>
  <div class='half' style='clear: left;'>
    <h2>Audio Input</h2>
    <select id='audio_select'></select>
  </div>
  <div style='clear: both;'></div>
  <div class='preview_container'>
    <video id='settings_video_preview'></video>
    <audio id='settings_audio_preview' style='display: none;''></audio>
    <div id='settings_audio_level'></div>
  </div>
</div>
<div id="confirm_exit" class="content">
  <p>Are you sure you want to leave this room?</p>
</div>
<div id='video_controls'>
  <span style='display: inline-block; width: 85px;'>
    <span class='count running'>0:00</span> / 
    <span class='count total'>7:12</span>
  </span>
  <button class='back teach_video_action'><img src="/icons/skip-start.svg" alt="previous"/></button>
  <button class='play teach_video_action'><img src="/icons/play.svg" alt="play"/></button>
  <button class='pause teach_video_action'><img src="/icons/pause.svg" alt="pause"/></button>
  <button class='forward teach_video_action'><img src="/icons/skip-end.svg" alt="next"/></button>
</div>


<script>
  room.buttons = room.default_buttons;
  room.grid_settings_override = null;
  <% if @bundle %>
    var str = "<%= @bundle.settings['content'] %>";
    var list = null;
    try {
      list = JSON.parse(atob(str));
    } catch(e) { }
    if(list) {
      room.grid_settings_override = JSON.stringify(list);
    }
  <% end %>
  if(localStorage.terms_accepted != "true") {
    location.href = location.href + "/join";
  } else {
    room.start();
  }
</script>
