<div class='grid'>
  <div class='col'>
    <div class='cell' data-idx='0'>
    </div>
    <div class='cell' data-idx='3'>
    </div>
    <div class='cell' data-idx='5'>
    </div>
  </div>
  <div class='mid'>
    <div class='cell' data-idx='1'>
    </div>
    <div class='preview'>
      <div id="partner">
      </div>
    </div>
    <div class='cell' data-idx='6'>
    </div>
  </div>
  <div class='col'>
    <div class='cell' data-idx='2'>
    </div>
    <div class='cell' data-idx='4'>
    </div>
    <div class='cell' data-idx='7'>
    </div>
  </div>
</div>

<script>
  room.buttons = [
    {text: 'a', id: 1},
    {text: 'b', id: 2},
    {text: 'c', id: 3},
    {text: 'd', id: 4},
    {text: 'e', id: 5},
    {text: 'f', id: 6},
    {text: 'g', id: 7},
    {text: 'h', id: 8},
  ];
  room.start();
</script>