<div class='grid'>
  <div class='menu'>
    <div class='button' data-action='quick'>
      Quick
    </div>
    <div class='button with_popover' data-action='load'>
      Load
      <div class='popover'>
        <div class='grids'>
        </div>
      </div>
    </div>
    <div class='button' data-action='customize'>
      Customize
    </div>
    <div class='button with_popover' data-action='send'>
      React
      <div class='popover'>
        <div class='reactions'>
        </div>
      </div>
    </div>
    <div class='button' data-action='end'>
      End
    </div>
  </div>
  <div class='col'>
    <div class='cell' data-idx='0'>
      <div class='text'></div><img />
    </div>
    <div class='cell' data-idx='3'>
      <div class='text'></div><img />
    </div>
    <div class='cell' data-idx='5'>
      <div class='text'></div><img />
    </div>
  </div>
  <div class='mid'>
    <div class='cell' data-idx='1' style='height: 10%;'>
      <div class='text'></div><img />
    </div>
    <div class='preview'>
      <div id="partner">
      </div>
      <div id="communicator">
      </div>
      <div id="nav">
        <button class='zoom' data-direction='in'>+</button>
        <button class='zoom' data-diration='out'>-</button><br/>
        <div>drag video to move</div>
      </div>
    </div>
    <div class='cell' data-idx='6' style='flex: 3;'>
      <div class='text'></div><img />
    </div>
  </div>
  <div class='col'>
    <div class='cell' data-idx='2'>
      <div class='text'></div><img />
    </div>
    <div class='cell' data-idx='4'>
      <div class='text'></div><img />
    </div>
    <div class='cell' data-idx='7'>
      <div class='text'></div><img />
    </div>
  </div>
</div>

<script>
  room.buttons = room.default_buttons;
  room.start();
</script>