<div class='grid'>
  <div class='menu'>
    <div class='button' data-action='quick'>
      Quick
    </div>
    <div class='button' data-action='load'>
      Load
    </div>
    <div class='button' data-action='customize'>
      Customize
    </div>
    <div class='button' data-action='send'>
      React
    </div>
    <div class='button' data-action='end'>
      End
    </div>
  </div>
  <div class='col'>
    <div class='cell' data-idx='0'>
    </div>
    <div class='cell' data-idx='3'>
    </div>
    <div class='cell' data-idx='5'>
    </div>
  </div>
  <div class='mid'>
    <div class='cell' data-idx='1'>
    </div>
    <div class='preview'>
      <div id="partner">
      </div>
      <div id="communicator">
      </div>
      <div id="nav">
        <button class='zoom' data-direction='in'>+</button>
        <button class='zoom' data-diration='out'>-</button><br/>
        <div>drag video to move</div>
      </div>
    </div>
    <div class='cell' data-idx='6' style='flex: 3;'>
    </div>
  </div>
  <div class='col'>
    <div class='cell' data-idx='2'>
    </div>
    <div class='cell' data-idx='4'>
    </div>
    <div class='cell' data-idx='7'>
    </div>
  </div>
</div>

<script>
  room.buttons = [
    {text: 'a', id: 1},
    {text: 'Start Over', id: 2},
    {text: 'c', id: 3},
    {text: 'Yes', id: 4},
    {text: 'No', id: 5},
    {text: 'f', id: 6},
    {text: 'g', id: 7},
    {text: 'h', id: 8},
  ];
  room.start();
</script>