body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
  }

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
#simple_content {
  width: 400px;
  margin: 0 auto;

  #middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 110px);
  }
}
#full_content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  .menu {
    width: 100px;
    background: #222;
    margin-right: 10px;
    box-shadow: 5px -5px 7px #222, 5px 5px 7px #222;
    .button {
      background: #444;
      color: #fff;
      text-align: center;
      border: 2px solid #999;
      max-height: calc(20vh - 6px);
      height: 100px;
      border-radius: 5px;
      margin: 5px 0 5px 5px;
      padding: 5px;
      cursor: pointer;
      position: relative;
      .popover {
        display: none;
        z-index: 3;
        border: 2px solid #000; 
        background: #666; 
        position: absolute; 
        left: calc(100% + 10px);
        transform: translate(0, -50%); 
        top: 50%; 
        box-shadow: 5px 5px 10px #000; 
        border-radius: 10px;
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-right: 26px solid #666;
          border-bottom: 13px solid transparent;
          position: absolute;
          left: -23px;
          top: calc(50% - 10px);
        }
        &::before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-right: 26px solid #000;
          border-bottom: 13px solid transparent;
          position: absolute;
          left: -26px;
          top: calc(50% - 10px);
        }
      }
      &.with_popover::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: 5px;
        bottom: 20px;
        width: 3px;
        background: #999;
      }
      &:hover {
        background: #666;
        border-width: 3px;
        padding: 4px;
        .popover {
          margin-left: 1px;
        }
      }
    }
  }
  .col,.mid {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    .cell {
      text-align: center;
      font-size: 20px;
      visibility: hidden;
      padding: 5px;
      margin: 5px;
      border: 2px solid #888;
      border-radius: 10px;
      flex: 1;
      height: 30%;
      transition: background 0.25s ease-in;
      cursor: pointer;
      img {
        visibility: hidden;
        width: 100%;
        height: calc(100% - 25px);
        margin-top: 5px;
        object-fit: contain;
        object-position: center;
      }
      &:hover {
        background: #eee;
        border-width: 3px;
        margin: 4px;
      }
      &.my_highlight {
        background: #ffffcc;
        border-width: 3px;
        margin: 4px;
      }
      &.highlight {
        background: #ffff00;
        border-width: 3px;
        margin: 4px;
      }
    }
    .preview {
      flex: 6;
      position: relative;
      background: #000;
      #partner {
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        video {
          width: 100%;
          height: 100%;
        }
      }
      #communicator {
        position: absolute;
        overflow: hidden;
        bottom: 10px;
        background: #000;
        left: 10px;
        height: 30%;
        border: 2px solid #888;
        box-shadow: 0 0 5px #000;
        video {
          height: 100%;
        }
      }
      #nav {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        div {
          text-align: center;
          padding: 2px 5px;
          background: #fff;
          box-shadow: 0 5px 5px #fff, 0 -5px 5px #fff, 5px 0 5px #fff, -5px 0 5px #fff;
          /* text-shadow: -2px 0 1px #fff, 0 2px 1px #fff, 2px 0 1px #fff, 0 -2px 1px #fff; */
          display: inline;
        }
        button {
          position: relative;
          z-index: 2;
          width: 80px;
          height: 50px;
          background: #eee;
          border: 1px solid #444;
          font-size: 50px;
          line-height: 20px;
          overflow: hidden;
          border-radius: 5px;
        }
      }
      img.reaction {
        position: absolute;
        bottom: 20px;
        left: 10px;
        width: 100px;
        height: 100px;
        object-fit: contain;
        object-position: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out, bottom 5s, width 2s, height 2s, margin-left 2s;
        &.finished {
          width: 50px;
          height: 50px;
          margin-left: 25px;
          bottom: calc(100% - 10px - 50px);
        }
      }
    }
  }
  .mid {
    flex: 2;
  }
}
.reactions {
  width: 350px;
  img {
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
    &:hover {
      background: #eee;
    }
  }
}
.grids {
  width: 300px;
  &::after {
    content: "";
    display: block;
    clear: left;
  }
  .grid_option {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
    color: #000;
    float: left;
    &:hover {
      background: #eee;
    }
    img {
      width: 100px;
      height: 80px;
      object-fit: contain;
      object-position: center;
    }
  }
}