body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-size: 100%;
  a {
    color: #000;
  }
}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
  }

* {
  box-sizing: border-box;
}
document {
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
header {
  position: fixed;
  top: 0;
  width: 400px;
  height: 30px;
  border-bottom: 1px solid #aaa;
}
#simple_content #contents {
  height: 100vh;
  padding-top: 40px;
}
footer {
  position: fixed;
  bottom: 0;
  height: 20px;
}

button {
  background: #fff;
  border: 1px solid #ccc;
  height: 50px;
  color: #666;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    background: #eee;
    color: #222;
  }
  &:active {
    background: #bbb;
  }
  &.primary {
    border-color: #222;
    background: #2469a6;
    color: #eee;
    &:hover {
      color: #fff;
    }
    &:active {
      background: #0d477a;
    }
  }
}
input {
  border: 1px solid #ccc;
  height: 50px;
  color: #222;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
}
p.error {
  color: #a00;
  margin: 5px 0;
}
a {
  color: #888;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
strong {
  font-weight: bold;
}
#simple_content {
  width: 400px;
  margin: 0 auto;

  #middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 110px);
    &.big {
      display: block;
      justify-content: normal;
      overflow: auto;
      height: calc(100% - 30px);
      padding-bottom: 50px;
      p {
        margin-top: 20px;
      }
    }
  }
}
#full_content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grid {
  touch-action: none;
  display: flex;
  .for_communicator {
    display: none;
  }
  .for_visitor {
    display: block;
  }
  &.communicator {
    .for_communicator {
      display: block;
    }
    .for_visitor {
      display: none;
    }
  }
  .menu {
    width: 100px;
    background: #222;
    margin-right: 10px;
    box-shadow: 5px -5px 7px #222, 5px 5px 7px #222;
    .button {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
      background: #444;
      color: #fff;
      text-align: center;
      border: 2px solid #999;
      max-height: calc(20vh - 6px);
      height: 100px;
      border-radius: 5px;
      margin: 5px 0 5px 5px;
      padding: 5px;
      cursor: pointer;
      position: relative;
      img.icon {
        display: block;
        filter: invert(100%);
        opacity: 0.7;
        margin-top: 10px;
        height: calc(100% - 40px);
        width: 100%;
      }
      .popover {
        display: none;
        z-index: 3;
        border: 2px solid #000; 
        background: #666; 
        position: absolute; 
        left: calc(100% + 10px);
        transform: translate(0, -50%); 
        top: 50%; 
        box-shadow: 5px 5px 10px #000; 
        border-radius: 10px;
        .popover_carat {
          &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid #666;
            border-bottom: 13px solid transparent;
            position: absolute;
            left: -23px;
            top: calc(50% - 10px);
          }
          &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid #000;
            border-bottom: 13px solid transparent;
            position: absolute;
            left: -26px;
            top: calc(50% - 10px);
          }
        }
      }
      &.with_popover::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: 5px;
        bottom: 20px;
        width: 3px;
        background: #999;
      }
      &:hover {
        background: #666;
        border-width: 3px;
        padding: 4px;
        .popover {
          margin-left: 1px;
        }
      }
    }
  }
  .col,.mid {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    .cell {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
      text-align: center;
      font-size: 24px;
      visibility: hidden;
      padding: 5px;
      margin: 5px;
      border: 2px solid #888;
      border-radius: 10px;
      flex: 1;
      height: calc(33vh - 10px);
      transition: background 0.25s ease-in, box-shadow 0.25s ease-in;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      &.link {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 30px;
          border-bottom-left-radius: 20px;
          background: #bbb;
        }
      }
      &.text_only {
        display: flex;
        flex-direction: row;
        align-items: center;
        .text {
          width: 100%;
          font-size: 32px;
        }
        img {
          display: none;
        }
      }
      .cell_inner {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      &.skinny {
        height: calc(12vh - 10px);
      }
      img {
        visibility: hidden;
        width: 100%;
        height: calc(100% - 30px);
        margin-top: 5px;
        object-fit: contain;
        object-position: center;
      }
      &:hover {
        background: #eee;
        border-width: 2px;
        margin: 5px;
        box-shadow: inset 0 0 2px #000;
      }
      &.my_highlight {
        background: #ffffcc;
        border-width: 2px;
        margin: 5px;
        box-shadow: inset 0 0 3px #000;
      }
      &.highlight {
        background: #ffff00;
        border-width: 2px;
        margin: 5px;
        box-shadow: inset 0 0 5px #000;
      }
    }
    .preview {
      flex: 6;
      position: relative;
      background: #000;
      #partner {
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        video {
          width: 100%;
          height: 100%;
        }
      }
      #communicator {
        position: absolute;
        bottom: 10px;
        background: #000;
        left: 10px;
        height: 30%;
        border: 2px solid #888;
        box-shadow: 0 0 5px #000;
        min-width: 20px;
        max-width: calc(100% - 250px);
        &.muted {
          &::after {
            content: "";
            position: absolute;
            bottom: 3px;
            left: 3px;
            opacity: 0.6;
            background-color: #fff;
            background-image: url(/icons/mic-mute.svg);
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 5px 5px;
            border-radius: 30px;
            width: 30px;
            height: 30px;
          }
        }
        &.preview {
          height: 40%;
          &.playable {
            &::after {
              content: "";
              position: absolute;
              top: calc(50% - 20px);
              left: calc(50% - 20px);
              opacity: 0.7;
              background-color: #fff;
              border: 2px solid #000;
              background-image: url(/icons/play.svg);
              background-repeat: no-repeat;
              background-size: 40px 40px;
              background-position: 2px 0;
              border-radius: 40px;
              width: 40px;
              height: 40px;
            }
            &.paused::after {
              background-image: url(/icons/pause.svg);
              background-position: 0 0;
            }
          }
          .end_share {
            cursor: pointer;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -30px;
            right: -30px;
            opacity: 0.7;
            border: 2px solid #000;
            background: #fff;
            border-radius: 50px;
            text-align: center;
            &::after {
              content: "×";
              font-size: 43px;
            }
          }
        }
        video {
          height: 100%;
          display: block;
        }
      }
      #nav {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        div {
          text-align: center;
          padding: 2px 5px;
          background: #fff;
          box-shadow: 0 5px 5px #fff, 0 -5px 5px #fff, 5px 0 5px #fff, -5px 0 5px #fff;
          /* text-shadow: -2px 0 1px #fff, 0 2px 1px #fff, 2px 0 1px #fff, 0 -2px 1px #fff; */
          display: inline;
        }
        button {
          position: relative;
          z-index: 2;
          width: 80px;
          height: 50px;
          background: #eee;
          border: 1px solid #444;
          font-size: 50px;
          line-height: 20px;
          overflow: hidden;
          border-radius: 5px;
          margin-right: 0px;
          vertical-align: bottom;
        }
        .mute,.unmute {
          margin-top: -5px;
          border-radius: 100px;
          margin-right: 10px;
          img {
            width: 30px;
            height: 30px;  
          }
        }
        .unmute {
          display: none;
        }
        &.muted {
          .mute {
            display: none;
          }
          .unmute {
            display: inline;
          }
        }
      }
      img.reaction {
        position: absolute;
        bottom: 20px;
        left: 10px;
        width: 100px;
        height: 100px;
        object-fit: contain;
        object-position: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out, bottom 5s, width 2s, height 2s, margin-left 2s;
        &.finished {
          width: 50px;
          height: 50px;
          margin-left: 25px;
          bottom: calc(100% - 10px - 50px);
        }
      }
    }
  }
  .mid {
    flex: 2;
    #eyes {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      position: fixed;
      top: 33vh;
      border: 2px dashed rgba(255, 255, 255, 0.5);
      width: 46vw;
      text-align: center;
      height: 0;
      div {
        opacity: 1.0;
        background: #ccc;
        height: auto;
        padding: 5px;
        position: absolute;
        left: 10px;
        margin-top: -25px;
        border-radius: 5px;
        border: 2px solid #aaa;
        box-shadow: 0 0 10px #fff;
      }
    }
  }
}
.extras {
  width: 321px;
  .button {
    height: 80px;
    width: 100px;
    float: left;
  }
  &::after {
    content: "";
    clear: left;
  }
}
.reactions {
  width: 475px;
  max-width: calc(100vw - 150px);
  text-align: left;
  img {
    width: 75px;
    height: 75px;
    margin: 5px 10px;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
    &:hover {
      background: #eee;
    }
  }
}
.grids {
  width: 330px;
  max-width: calc(100vw - 150px);
  text-align: left;
  &::after {
    content: "";
    display: block;
    clear: left;
  }
  .grid_option {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
    color: #000;
    float: left;
    &:hover {
      background: #eee;
    }
    img {
      width: calc(100% - 12px);
      height: calc(100% - 22px);
      margin-top: 5px;
      object-fit: contain;
      object-position: center;
    }
  }
}
.content {
  display: none;
}
.modal {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
/*  max-height: 80vh;
  max-width: 600px;
  min-height: 100px; */
  z-index: 99;
  .modal_content {
    background: #fff;
    position: absolute;
    top: 10vh;
    left: 10vw;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    margin: 0 auto;
    right: 10vw;
    max-height: 90vh;
    max-width: 600px;
    min-height: 100px;
    border-radius: 10px;
    .title {
      font-size: 30px;
      padding: 10px 20px;
      position: relative;
      border-bottom: 1px solid #888;
      background: #eee;
      .close {
        position: absolute;
        top: -6px;
        right: 10px;
        font-size: 60px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .content {
      display: block;
      max-height: calc(90vh - 55px - 60px);
      padding: 20px;
      overflow: auto;
    }  
    .modal_footer {
      border-top: 1px solid #ccc;
      padding: 5px 20px;
      text-align: right;
    }
  }
}
#invite_modal .qr_code {
  text-align: center;
  margin: 10px;
  img, canvas {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    max-width: 48vh;
    max-height: 48vh;
  }
}
#big {

}
#middle.join {
  text-align: center;
  .join {
    padding-top: 20px;
    border-radius: 10px;
    color: #444;
    border: 1px solid #ccc;
    text-align: center;
    height: 90px;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 10px;
    &:hover {
      text-decoration: none;
      background: #eee;
      color: #222;
    }
  }
  .preview {
    max-height: 50vh;
    width: 100%;
    overflow: hidden;
    video {
      width: 100%;
      height: calc(100% - 10px);
      border: 1px solid #888;
      background: #000;
    }
  }
}
.modal_button {
  img {
    margin: -8px 5px -8px -8px;
    width: 30px;
    height: 30px;
    opacity: 0.7;
  }
}
#layouts {
  display: flex; 
  flex-direction: row; 
  text-align: center;
  margin-top: 10px;
  .layout {
    flex: 1; 
    padding: 5px; 
    margin: 0 5px;
    font-size: 20px;
    .layout_container {
      display: flex; 
      flex-direction: row; 
      min-height: 200px;
      height: calc(40vh);
      .layout_column {
        display: flex; 
        flex-direction: column; 
        flex: 1;
        .layout_button {
          color: #fff;
          font-size: 12px;
          min-height: 30px;
          flex: 1; 
          background: #ccc;
          border: 1px solid #000;
          border-radius: 5px;
          margin: 2px;
          display: flex;
          flex-direction: row;
          align-items: center;
          input {
            max-height: 100%;
            width: 100%;
            border-color: #bbb;
            text-align: center;
            color: #444;
          }
          &.preview {
            opacity: 0.5;
            border-radius: 0;
            background: #000;
            img {
              height: 100%;
              filter: invert(1);
              flex: 1;
            }
          }
        }
      }
    }
  }
}

.big_checkbox {
  position: relative;
  display: inline-block;
  
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 52px;
  padding-top: 12px;
}
.checkbox.big_checkbox {
  padding-top: 12px;
}
.checkbox.big_checkbox input[type='checkbox'] {
  position: absolute;
  margin-left: -20px;
}
.big_checkbox input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  left: 12px;
  top: 5px;
  width: 32px;
  height: 32px;
  transition: background 0.2s 0s linear;
}
.big_checkbox label {
  padding-left: 0;
}
.big_checkbox input[type='checkbox']:checked {
  background: #3594e6;
  border-color: #444;
}
.big_checkbox input[type='checkbox']:checked::after {
  position: absolute;
  height: 8px;
  width: 18px;
  content: "";
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-color: #fff;
  
  transform: rotate(-45deg);
  
  left: 2px;
  top: 5px;  
}
#volume_level {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #0f0;
  box-shadow: 0 2px 5px #fff;
  height: 15px;
  width: 0;
}