/* 
  z-index levels:
  1 - configuration for user video feed
  2 - non-video dynamic content
  3 - user video preview boxes
  4 - text overlay
  5 - video player controls
  6 - reactions
*/


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-size: 100%;
  a {
    color: #000;
  }
}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
  }

* {
  box-sizing: border-box;
}
document {
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
header {
  position: fixed;
  top: 0;
  max-width: 600px;
  min-width: 400px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #aaa;
  h1 {
    margin-top: 10px;
    img {
      height: 40px; 
      margin: -5px 0 -5px 5px;
    }
  }
  h2.header_link {
    margin-bottom: 10px; 
    position: absolute; 
    top: 20px; 
    right: 0; 
    text-align: right; 
    font-style: italic;
    a {
      color: #888;
    }
  }
}
#simple_content #contents {
  height: 100vh;
  padding-top: 60px;
}
footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  margin: 0 5px;
}

a {
  .img_logo {
    filter: grayscale(0.6);
  }
  &:hover {
    .img_logo {
      filter: none;
    }
  }
}
button {
  background: #fff;
  border: 1px solid #ccc;
  height: 50px;
  color: #666;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  .img_logo {
    filter: grayscale(0.6);
  }
  &:hover {
    background: #eee;
    color: #222;
    .img_logo {
      filter: none;
    }
  }
  &:active {
    background: #bbb;
    .img_logo {
      filter: none;
    }
  }
  &.primary {
    border-color: #222;
    background: #2469a6;
    color: #eee;
    &:hover {
      color: #fff;
    }
    &:active {
      background: #0d477a;
    }
  }
}
#feedback {
  .list .feedback {
    &.template {
      display: none;
    }
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    &.status {
      border: none;
      padding-left: 20px;
    }
    &.stars_1 {
      .stars {
        .star_2, .star_3, .star_4, .star_5 {
          display: none;
        }
      }
    }
    &.stars_2 {
      .stars {
        .star_3, .star_4, .star_5 {
          display: none;
        }
      }
    }
    &.stars_3 {
      .stars {
        .star_4, .star_5 {
          display: none;
        }
      }
    }
    &.stars_4 {
      .stars {
        .star_5 {
          display: none;
        }
      }
    }

    .created {
      color: #444;
      width: 150px;
      display: inline-block;
    }
    .stars {
      img {
        width: 15px;
        margin: 0;
        opacity: 0.8;
      }
    }
    .device {
      color: #aaa;
      margin-left: 20px;
      font-size: 14px;
    }
    .text {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      white-space: pre-line;
      &:empty {
        margin-top: 0;
      }
    }
  }
}
input {
  border: 1px solid #ccc;
  height: 50px;
  color: #222;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
}
textarea {
  border: 1px solid #ccc;
  color: #222;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
}
p.error {
  color: #a00;
  margin: 5px 0;
}
a {
  color: #888;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
strong {
  font-weight: bold;
}
#features {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 5px;
  box-shadow: 5px 5px 10px #000;
  li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    line-height: 20px;
    img {
      float: left;
      width: 30px;
      padding-bottom: 10px;
      margin: -5px 10px 0 -10px;
    }
    &:last-child {
      border-bottom-width: 0;
    }
  }
}
#buy {
  margin-left: 30px;
}
#flash {
  transition: opacity 1s;
  position: fixed;
  z-index: 95;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  margin: 0 auto;
  max-width: 50%;
  min-width: 150px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  padding: 10px 20px;
  opacity: 0;
  border: 2px solid #888;
  &.fade-in {
    opacity: 1.0;
  }
  &.fade-out {
    opacity: 0;
  }
  box-shadow: 0 0 5px #000;
}
#simple_content {
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto;

  #middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 110px);
    margin: 0 auto;
    max-width: calc(100vw - 40px);
    &.buttons {
      width: 400px;
    }
    .buttons {
      button {
        width: 50%; 
        height: 55px;
        &.solo {
          width: 100%;
          height: 70px;
        }
        &#share {
          width: calc(50% - 10px);
          float: right;
          margin-right: 0;
        }
      }
      &:after {
        content: "";
        clear: both;
      }
    }
    label a {
      color: #2955ba;
    }
    &.big {
      display: block;
      justify-content: normal;
      overflow: auto;
      height: calc(100% - 30px);
      padding-bottom: 50px;
      p {
        margin-top: 20px;
      }
    }
  }
}
#preview_box {
  background-image: url(/icons/person.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  &.ready {
    background-image: none;
  }
}
#full_content {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.grid {
  touch-action: none;
  display: flex;
  * {
    user-select: none;
    touch-action: none;
    -webkit-touch-callout: none;
  }
  .cell {
    display: block;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
  .cell img, .menu .icon {
    pointer-events: none;
  }
  .for_communicator {
    display: none;
  }
  .for_visitor {
    display: block;
  }
  .connected {
    display: inline;
  }
  .disconnected {
    display: none;
  }
  &.offline {
    .connected {
      display: none;
    }
    .disconnected {
      display: inline;
    }
  }
  &.initiator {
    .for_communicator {
      display: block;
    }
    .for_visitor {
      display: none;
    }
  }
  .menu {
    width: 100px;
    background: #222;
    margin-right: 10px;
    box-shadow: 5px -5px 7px #222, 5px 5px 7px #222;
    .button {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
      background: #444;
      color: #fff;
      text-align: center;
      border: 2px solid #999;
      max-height: calc(20vh - 6px);
      height: 100px;
      border-radius: 5px;
      margin: 5px 0 5px 5px;
      padding: 5px;
      cursor: pointer;
      position: relative;
      .label {
        width: 100%;
        overflow: hidden;
        .skinny {
          display: none;
        }
      }
      img.icon {
        display: block;
        filter: invert(100%);
        opacity: 0.7;
        margin-top: 10px;
        height: calc(100% - 40px);
        width: 100%;
      }
      .popover {
        display: none;
        z-index: 4;
        border: 2px solid #000; 
        background: #666; 
        position: absolute; 
        left: calc(100% + 10px);
        transform: translate(0, -50%); 
        top: 50%; 
        box-shadow: 5px 5px 10px #000; 
        border-radius: 10px;
        &#bottom_popover {
          margin-top: -20px;
        }
        .popover_carat {
          &::after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid #666;
            border-bottom: 13px solid transparent;
            position: absolute;
            left: -23px;
            top: calc(50% - 10px);
          }
          &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 13px solid transparent;
            border-right: 26px solid #000;
            border-bottom: 13px solid transparent;
            position: absolute;
            left: -26px;
            top: calc(50% - 10px);
          }
        }
      }
      &.with_popover::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: 5px;
        bottom: 20px;
        width: 3px;
        background: #999;
      }
      &:hover {
        background: #666;
        border-width: 3px;
        padding: 4px;
        .popover {
          margin-left: 1px;
        }
      }
    }
  }
  .col,.mid {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    .cell {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
      text-align: center;
      font-size: 24px;
      visibility: hidden;
      padding: 5px;
      margin: 5px;
      border: 2px solid #888;
      border-radius: 10px;
      flex: 1;
      height: calc(33vh - 10px);
      transition: background 0.25s ease-in, box-shadow 0.25s ease-in;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      &.link {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 30px;
          border-bottom-left-radius: 20px;
          background: #bbb;
        }
      }
      &.image_only {
        .text {
          display: none;
        }
        img {
          height: calc(100% - 10px);
        }
      }
      &.text_only {
        display: flex;
        flex-direction: row;
        align-items: center;
        &.big_text {
          .text {
            font-size: 100px;
          }
        }
        .text {
          width: 100%;
          font-size: 32px;
        }
        img {
          display: none;
        }
      }
      .cell_inner {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      &.skinny {
        height: calc(12vh - 10px);
      }
      img {
        visibility: hidden;
        width: 100%;
        height: calc(100% - 30px);
        margin-top: 5px;
        object-fit: contain;
        object-position: center;
      }
      &:hover {
        background: #eee;
        border-width: 2px;
        margin: 5px;
        box-shadow: inset 0 0 2px #000;
      }
      &.hover {
        background: #b0ceff;
        border-width: 2px;
        border-color: #50617c;
        margin: 5px;
        box-shadow: inset 0 0 30px #50617c;
      }
      &.my_highlight {
        background: #ffffcc;
        border-color: #444;
        border-width: 2px;
        margin: 5px;
        box-shadow: inset 0 0 3px #000;
      }
      &.highlight {
        background: #ffff00;
        border-color: #444;
        border-width: 2px;
        margin: 5px;
        box-shadow: inset 0 0 5px #000;
      }
    }
    .preview {
      flex: 6;
      transition: flex 1s linear;
      position: relative;
      background: #000;
      border-radius: 5px;
      #partner,#no_preview {
        position: absolute;
        overflow: hidden;
        border-radius: 5px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        video {
          width: 100%;
          height: 100%;
        }
      }
      #no_preview {
        text-align: center;
        padding-top: 15vh;
        background: rgba(61, 50, 50, 0.7);
        display: none;
        .volume {
          position: absolute;
          top: 13vh;
          left: calc(50% - 14.5vh);
          width: 29vh;
          height: 29vh;
/*          background: #67b0c7;*/
          border: 5px solid #fff;
          border-radius: 100%;
          .bar {
            position: absolute;
            top: -6px;
            left: -6px;
            right: -6px;
            bottom: -6px;
            border: 1px solid #67b0c7;
            border-radius: 100%;
            transition: border-width 0.3s, top 0.3s, left 0.3s, right 0.3s, bottom 0.3s;
          }
        }
        .icon {
          width: 25vh;
          height: 25vh;
          margin: auto;
          padding: 20px;
          img {
            width: 100%;
            height: 100%;
            filter: invert(1);
          }
          background: #67b0c7;
          border-radius: 100%;
        }
      }
      #partner_shadow {
        position: absolute;
        overflow: hidden;
        border-radius: 5px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      #local_error {
        position: absolute; 
        bottom: 20px; 
        left: 20px; 
        background: #f00; 
        z-index: 6; 
        width: 40px; 
        height: 40px; 
        border-radius: 10px; 
        text-align: center;
        img {
          height: 30px; 
          margin-top: 5px;
        }
      }
      #alt_access_icon {
        position: absolute; 
        bottom: 20px; 
        left: 20px; 
        background: #555; 
        z-index: 6; 
        width: 40px; 
        height: 40px; 
        border-radius: 10px; 
        text-align: center;
        img {
          filter: invert(1);
          height: 30px; 
          margin-top: 5px;
        }
      }
      #status_holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        #status {
          text-align: center;
          color: #fff;
          background: #000;
          border-radius: 5px;
          padding: 20px;
          font-size: 20px;
          font-weight: bold;
          width: 75%;
          margin-top: 7vh;
          margin-left: auto;
          margin-right: auto;
          box-shadow: 0 0 20px #000;
          &.big {
            width: 90%;
            font-size: 15px;
          }
        }
        #status_invite,#status_popout,#status_continue,,#status_leave {
          text-align: center;
          display: none;
          color: #fff;
          margin-top: 15px;
          button {
            font-weight: bold;
          }
        }
        button {
          margin: 0 5px;
        }
      }
      #communicator {
        position: absolute;
        bottom: 10px;
        background: #000;
        left: 10px;
        border: 2px solid #888;
        border-radius: 4px;
        box-shadow: 0 0 5px #000;
        min-width: 20px;
        max-width: 30%;
        transition: max-width 1s, margin-left 1s linear;
        z-index: 3;
        &.small_preview {
          max-width: 18%;
        }
        &.muted {
          &::after {
            content: "";
            position: absolute;
            bottom: 3px;
            left: 3px;
            opacity: 0.6;
            background-color: #fff;
            background-image: url(/icons/mic-mute.svg);
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 5px 5px;
            border-radius: 30px;
            width: 30px;
            height: 30px;
          }
        }
        &.preview {
          max-width: 37%;
          &.playable {
            &::after {
              content: "";
              position: absolute;
              top: calc(50% - 20px);
              left: calc(50% - 20px);
              opacity: 0.7;
              background-color: #fff;
              border: 2px solid #000;
              background-image: url(/icons/play.svg);
              background-repeat: no-repeat;
              background-size: 40px 40px;
              background-position: 2px 0;
              border-radius: 40px;
              width: 40px;
              height: 40px;
            }
            &.paused::after {
              background-image: url(/icons/pause.svg);
              background-position: 0 0;
            }
          }
          img.icon {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 50px;
            height: 50px;
            opacity: 0.7;
          }
          .end_share {
            cursor: pointer;
            position: absolute;
            width: 50px;
            height: 50px;
            top: -30px;
            right: -30px;
            opacity: 0.7;
            border: 2px solid #000;
            background: #fff;
            border-radius: 50px;
            box-shadow: 0 0 10px #000;
            text-align: center;
            &::after {
              content: "×";
              font-size: 43px;
            }
          }
        }
        video {
          width: 100%;
          display: block;
        }
        &.pending {
          * {
            opacity: 0.8;
            transition: opacity 1s ease-in;
          }
          filter: grayscale(0.8);
          transition: filter 1s ease-in;
        }
        .nobody {
          background: #67b0c7;
          width: min(10vw, 20vh);
          height: min(20vw, 20vh);
          img {
            filter: invert(1);
            width: 70%;
            height: 70%;
            margin: 15%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
      #nav {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        button {
          position: relative;
          z-index: 1;
          width: 80px;
          height: 50px;
          background: #eee;
          border: 1px solid #444;
          font-size: 50px;
          line-height: 20px;
          overflow: hidden;
          border-radius: 5px;
          margin-right: 0px;
          vertical-align: bottom;
        }
        .mute,.unmute,.toggle {
          margin-top: -5px;
          border-radius: 100px;
          margin-right: 2px;
          img {
            width: 30px;
            height: 30px;  
          }
        }
        .unmute {
          display: none;
        }
        &.muted {
          .mute {
            display: none;
          }
          .unmute {
            display: inline;
          }
        }
      }
      .secondary_preview {
        box-shadow: 0 0 5px #000;
        border-radius: 5px;
        margin: 0;
        z-index: 3;
        transition: margin-left 1s linear;
        position: absolute;
        top: 5px;
        left: 5px;
        min-width: 20px;
        max-width: 25%;
        max-height: 50%;
      }
      #text {
        .prompt {
          position: absolute;
          top: 10px;
          left: 10px;
          height: 50px;
          width: 50px;
          z-index: 4;
          background: #fff;
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid #888;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          img {
            width: 30px;
            height: 30px;
            margin: 8px;
          }
          .clear {
            display: none;
          }
          &.active {
            .cursor {
              display: none;
            }
            .clear {
              display: inline;
            }
          }
        }
        .text_input,.text_display {
          border: 0;
          background: transparent;
          position: absolute;
          z-index: 4;
          display: none;
          width: 100%;
          opacity: 0.0;
          top: 5px;
          left: 0;
          right: 0;
          color: #fff;
          text-align: center;
          font-weight: bold;
          text-stroke: 2px #000;
          font-size: 40px;
          -webkit-text-stroke: 2px #000;
          -webkit-text-fill-color: #fff;
          text-shadow: -1px 1px 2px #fff, 1px 1px 2px #fff, 1px -1px #fff, -1px -1px 0 #fff;
          transition: opacity 1s ease-in-out, color 1s ease-in-out, -webkit-text-fill-color 1s ease-in-out;
          &:focus {
            background: #000;
            caret-color: #fff;
          }
          &.lingering {
            color: #ff0;
            -webkit-text-fill-color: #ff0;
          }
        }
        &.slide_down {
          .text_input,.text_display {
            top: 35px;
          }
        }
        .text_display {
          overflow: hidden;
        }
      }
      img.reaction {
        position: absolute;
        bottom: 20px;
        left: 10px;
        width: 100px;
        height: 100px;
        object-fit: contain;
        object-position: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out, bottom 5s, left 4s, width 2s, height 2s, margin-left 2s;
        z-index: 6;
        &.finished {
          width: 50px;
          height: 50px;
          margin-left: 25px;
          bottom: calc(100% - 10px - 50px);
        }
      }
      &.custom_content,&.custom_self_content {
        .secondary_preview {
          margin-left: -25%;
        }
        #communicator {
          margin-left: -100px;
        }
      }
    }
  }
  .mid {
    flex: 2;
    transition: flex 1s linear;
    #eyes {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      position: fixed;
      top: 33vh;
      border: 2px dashed rgba(255, 255, 255, 0.5);
      width: 46vw;
      text-align: center;
      height: 0;
      div {
        opacity: 1.0;
        background: #ccc;
        height: auto;
        padding: 5px;
        position: absolute;
        left: 10px;
        margin-top: -25px;
        border-radius: 5px;
        border: 2px solid #aaa;
        box-shadow: 0 0 10px #fff;
      }
    }
  }
}
.grid.communicator .mid {
  .preview.custom_content {
    #communicator {
      display: none;
    }
  }
}
.grid.communicator .mid {
  .preview.custom_self_content {
    background: transparent;
    #partner {
      border-radius: 0;
    }
    #communicator {
      max-width: 25%;
    }
  }
}
.grid.big_preview {
  .mid {
    flex: 4;
    .preview {
      flex: 10;
    }
  }
}
.extras {
  width: 532px;
  .button {
    height: 80px;
    width: 100px;
    float: left;
  }
  &::after {
    content: "";
    clear: left;
  }
}
.reactions {
  width: 475px;
  max-width: calc(100vw - 150px);
  text-align: left;
  img {
    width: 75px;
    height: 75px;
    margin: 5px 10px;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
    &:hover {
      background: #eee;
    }
  }
}
.more_reactions {
  color: #fff;
  margin: 5px 0 10px;
  display: block;
}
.configure_grids {
  text-align: left;
  a {
    color: #fff;
    margin: 10px;
    display: inline-block;
  }
}
.grids {
  width: 450px;
  max-width: calc(100vw - 150px);
  text-align: left;
  &::after {
    content: "";
    display: block;
    clear: left;
  }
  .grid_option {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
    color: #000;
    float: left;
    overflow: hidden;
    &:hover {
      background: #eee;
    }
    span {
      white-space: nowrap;
    }
    img {
      width: calc(100% - 12px);
      height: calc(100% - 22px);
      margin-top: 5px;
      object-fit: contain;
      object-position: center;
    }
  }
}
.content {
  display: none;
}
.modal {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
/*  max-height: 80vh;
  max-width: 600px;
  min-height: 100px; */
  z-index: 99;
  .modal_content {
    background: #fff;
    position: absolute;
    top: 10vh;
    left: 10vw;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    margin: 0 auto;
    right: 10vw;
    max-height: 90vh;
    max-width: 600px;
    min-height: 100px;
    border-radius: 10px;
    .title {
      font-size: 30px;
      padding: 10px 20px;
      position: relative;
      border-bottom: 1px solid #888;
      background: #eee;
      .close {
        position: absolute;
        top: -6px;
        right: 10px;
        font-size: 60px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .content {
      display: block;
      max-height: calc(90vh - 55px - 60px);
      padding: 20px;
      overflow: auto;
    }  
    .modal_footer {
      border-top: 1px solid #ccc;
      padding: 5px 20px;
      text-align: right;
    }
  }
}
#invite_modal .qr_code {
  text-align: center;
  margin: 10px;
  img, canvas {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    max-width: 60vw;
    max-height: 48vh;
    object-fit: contain;
    object-position: center;
  }
}
#middle.join {
  text-align: center;
  .join {
    padding-top: 20px;
    border-radius: 10px;
    color: #444;
    border: 1px solid #ccc;
    text-align: center;
    height: 90px;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 10px;
    &:hover {
      text-decoration: none;
      background: #eee;
      color: #222;
    }
  }
  .preview {
    max-height: 50vh;
    min-height: 80px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    video {
      width: 100%;
      height: calc(100% - 10px);
      border: 1px solid #888;
      background: #000;
    }
  }
}
.modal_button {
  margin-bottom: 5px;
  img {
    margin: -8px 5px -8px -8px;
    width: 30px;
    height: 30px;
    opacity: 0.7;
  }
}
#layouts {
  display: flex; 
  flex-direction: row; 
  text-align: center;
  margin-top: 10px;
  .layout {
    flex: 1; 
    padding: 5px; 
    margin: 0 5px;
    font-size: 20px;
    .layout_container {
      display: flex; 
      flex-direction: row; 
      min-height: 200px;
      height: calc(40vh);
      .layout_column {
        display: flex; 
        flex-direction: column; 
        flex: 1;
        .layout_button {
          color: #fff;
          font-size: 12px;
          min-height: 30px;
          flex: 1; 
          background: #ccc;
          border: 1px solid #000;
          border-radius: 5px;
          margin: 2px;
          display: flex;
          flex-direction: row;
          align-items: center;
          input {
            max-height: 100%;
            width: 100%;
            border-color: #bbb;
            text-align: center;
            color: #444;
          }
          &.preview {
            opacity: 0.5;
            border-radius: 0;
            background: #000;
            img {
              height: 100%;
              filter: invert(1);
              flex: 1;
            }
          }
        }
      }
    }
  }
}

.big_checkbox {
  position: relative;
  display: inline-block;
  
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 52px;
  padding-top: 12px;
}
.checkbox.big_checkbox {
  padding-top: 12px;
}
.checkbox.big_checkbox input[type='checkbox'] {
  position: absolute;
  margin-left: -20px;
}
.big_checkbox input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  left: 12px;
  top: 5px;
  width: 32px;
  height: 32px;
  transition: background 0.2s 0s linear;
}
.big_checkbox label {
  padding-left: 0;
}
.big_checkbox input[type='checkbox']:checked {
  background: #3594e6;
  border-color: #444;
}
.big_checkbox input[type='checkbox']:checked::after {
  position: absolute;
  height: 8px;
  width: 18px;
  content: "";
  border-left: 3px solid;
  border-bottom: 3px solid;
  border-color: #fff;
  
  transform: rotate(-45deg);
  
  left: 5px;
  top: 5px;  
}
#volume_level {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  background: #59ff59;
  border: #43cc43;
  border-radius: 2px;
  box-shadow: 0 2px 5px #fff;
  height: 15px;
  width: 0;
  opacity: 0.7;
  transition: width 0.2s linear;
}
#alt_access_modal {
  h2 {
    font-size: 14px;
  }
  select {
    height: 40px;
    width: 100%;
    font-size: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    margin-bottom: 15px;
  }
}
#settings_modal {
  select {
    height: 40px;
    width: 100%;
    font-size: 20px;
    border: 1px solid #888;
    border-radius: 5px;
  }
  .half {
    width: calc(50% - 10px);
    margin-right: 10px;
    float: left;
    margin-bottom: 5px;
    h2 {
      font-size: 14px;
    }
  }
  .preview_container {
    max-width: 80%;
    height: calc(90vh - 110px - 160px);
    position: relative;
    video {
      border: 1px solid #ccc;
      padding: 5px;
      height: 100%;
      max-width: calc(100% - 10px);
      min-width: 30%;
      min-height: 150px;
      margin-left: 15px;
    }  
    #settings_audio_level {
      float: left;
      position: absolute;
      bottom: 5px;
      width: 10px;
      height: 0px;
      background: #0f0;
      border-radius: 3px;
    }
  }
  #settings_symbol_preview {
    .lessonpix_preview,.twemoji_preview,.none_preview {
      display: none;
      text-align: center;
      img {
        width: calc(80% / 5);
        max-height: 50px;
        object-fit: contain;
        object-position: center;
      }
    }
    &.lessonpix {
      .lessonpix_preview {
        display: block;
      }
    }
    &.twemoji {
      .twemoji_preview {
        display: block;
      }
    }
    &.none {
      .none_preview {
        display: block;
        margin: 0 20px;
        padding-top: 10px;
        color: #888;
      }
    }
    &:not(.twemoji):not(.none) {
      .lessonpix_preview {
        display: block;
      }
    }
  }

}
#middle .preview .status {
  &.waiting,&.with_message {
    height: 100%; 
    padding-top: 20px; 
    border: 1px solid #888; 
    background: #000; 
    color: #eee;    
  }
  .message {
    font-size: 20px;
  }
  &.big {
    .messsage {
      font-size: 15px;
    }
  }
}
#info_modal {
  p {
    margin-bottom: 20px;
  }
}
#video_controls {
  position: absolute;
  top: calc(12vh - 10px);
  left: calc(50vw - 150px);
  height: 60px;
  width: 305px;
  border-radius: 10px;
  background: rgba(80, 80, 80, 0.8);
  padding: 5px;
  text-align: center;
  color: #bbb;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 5;
  .running {
    color: #fff;
  }
  button {
    img {
      width: 40px;
      height: 40px;
      margin: -10px;
    }
  }
  .pause {
    display: none;
  }
}
.big_alert {
  position: fixed;
  top: 12vh;
  width: 400px;
  left: calc(50vw - 200px);
  margin: auto;
  background: #eee;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px 10px;
  text-align: center;
  font-weight: bold;
  opacity: 0.0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 5px 5px 10px #000;
  &.error {
    border-color: #eaa;
    background: #fcc;
  }
  &.ready {
    opacity: 1.0;
  }
}
.admin_view {
  height: 100%;
}

#account,#accounts {
  .rooms {
    .room {
      &.template { display: none; }
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      &.status {
        border: none;
        padding-left: 20px;
      }
      &.unused {
        font-size: 12px;
        color: #888;
        padding-top: 5px;
        padding-bottom: 5px;
        .actions {
          display: none;
        }
      }
      .pre {
        display: inline-block;
        width: 200px;
        overflow: hidden;
        padding-right: 5px;
      }
      .duration {
        color: #888;
      }
      .devices {
        margin-left: 230px;
        color: #888;
        .actions {
          margin-left: 30px;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
  .bills {
    border: 1px solid #ccc;
    border-radius: 5px;
    .bill {
      &.template { display: none; }
      padding: 10px;
      margin-bottom: 5px;
      border-bottom: 1px solid #ccc;
      &.status {
        border: none;
        padding-left: 20px;
      }
      .month {
        width: 200px;
        color: #888;
      }
      .billing_string {
        font-style: italic;
        color: #888;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
.room {
  .tall_buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    button {
      flex: 1;
      height: 80px;
      vertical-align: middle;
      img {
        width: 40px;
        margin: -10px 5px;
        vertical-align: baseline;
        &.small {
          margin: 0 5px 0 0 ;
          vertical-align: top;
          width: 20px;
        }
      }
    }
  }
  .dates {
    #started {
      font-weight: bold;
      color: #444;
    }
    #countdown {
      color: #888;
      font-style: italic;
    }
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
.stars {
  margin-top: 15px;
  img {
    width: 30px;
    margin: 0 8px;
  }
}
#accounts {
  .rooms .room .pre {
    width: 150px;
  }
  .account {
    &.template { display: none; }
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 5px;
    display: flex;
    color: #888;
    cursor: pointer;
    > span {
      flex: 1;
    }
    &:hover {
      background: #eee;
    }
    .name {
      display: block;
      color: #888;
      font-size: 25px;
      margin-top: -5px;
    }
    .billing_type {
      float: left;
      padding: 7px;
      margin-left: -17px;
      margin-right: 5px;
      margin-top: -8px;
      margin-bottom: -10px;
      border-radius: 20px;
      width: 35px;
      height: 35px;
      img {
        width: 20px;
      }
    }
    &.recent {
      .name {
        color: #3594e6;
      }
      &.billed .billing_type {
        background: #3594e6;
        img {
          filter: invert(1);
        }
      }
    }
    .target {
      display: block;
    }
    .code {
      display: inline-block;
      margin-left: 30px;
      cursor: text;
    }
  }
}
#grids_modal {
  .add_status {
    text-align: center;
    margin-bottom: 10px;
    &:empty {
      display: none;
    }
  }
  .grid_options {
    .marker {
      color: #888;
      text-align: center;
    }
    .grid {
      touch-action: pan-y;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 5px;
      font-size: 20px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      &:hover {
        background: #eee;
      }
      &.extra {
        background: #eee;
      }
      button {
        margin-right: 0;
        height: 40px;
        padding-top: 5px;
        img {
          width: 30px;
          height: 30px;
          margin: -10px;
        }
      }
      img.image {
        vertical-align: middle;
        height: 40px;
        width: 40px;
        object-fit: contain;
        object-position: center;
      }
      .links {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }
}
#preview_grid {
  display: none;
}
#bundle_grids {
  .cutoff {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-style: italic;
    color: #888;
    margin: 20px 0 0;
    padding: 5px 10px;
  }
  .bundle_grid {
    &.template {
      display: none;
    }
    &.collapsed .topper {
      opacity: 0.5;
    }
    min-height: 70px;
    border: 1px solid #888;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    .topper {
      padding: 10px 20px;
      cursor: pointer;
      position: relative;
      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        object-position: center;
        vertical-align: middle;
        margin-right: 10px;
      }
      .name {
        font-size: 20px;
      }  
      &:focus {
        font-weight: bold;
        outline: none;
        img {
          border: 2px solid #2469a6;
          padding: 2px;
          border-radius: 5px;
          background: #bcdbf5;
        }
      }
      &:after {
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        background-image: url(/icons/caret-up-fill.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        content: "";
      }
    }
    &.expanded {
      .topper:after {
        background-image: url(/icons/caret-down-fill.svg);
      }
    }
    .preview {
      border-top: 1px solid #ccc;
      padding: 10px 40px;
      .grid {
        .col {
          height: 200px;
        }
        .mid {
          height: 200px;
          .preview {
            border: 2px solid #888;
            background: #eee;
            text-align: center;
            img {
              height: 100%;
            }
          }
        }
        .cell {
          visibility: visible;
          margin: 2px;
          .label {
            width: 100%;
            font-size: 13px;
            height: 13px;
          }
          img {
            visibility: visible;
            height: calc(100% - 13px);
          }
        }
      }
    }
    .previewx {
      border-top: 1px solid #ccc;
      padding: 10px 40px;
      .preview_grid {
        .preview_grid_column {
          width: 25%;
          float: left;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          &.for_user {
            width: 50%;
            .preview_cell:first-child {
              height: 20px;
            }
          }  
          .preview_cell {
            flex: 1;
            height: 20px;
            border: 2px solid #888;
            margin: 2px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            .label.img {
              flex: 1;
            }
          }
        }
        &:after {
          content: "";
          display: block;
          clear: left;
        }
      }
    }
  }
}
.pending_room {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  .title {
    font-size: 20px;
    .pending_room_status {
      font-size: 14px;
      color: #888;
      font-style: italic;
    }
  }
  .time {
    margin-top: 5px;
    color: #888;
    .time_string {
      color: #444;
    }
  }
}
#account,#account_stats {
  dl {
    dt {
      float: left;
      clear: left;
      width: 200px;
      text-align: right;
      margin-right: 10px;
      color: #888;
      height: 25px;
    }
    dd {
      height: 25px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &:after { 
      display: block;
      content: "";
      clear: left;
    }
    margin-bottom: 50px;
  }  
}
#rooms {
  .room {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
    &.template {
      display: none;
    }
    .delete {
      display: none;
    }
    &.removable {
      .delete {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        img {
          width: 20px;
        }
      }
    }
    .name_holder {
      display: inline-block;
    }
    a.name_holder {
      display: none;
    }
    img.icon {
      width: 30px;
      height: 30px;
      filter: grayscale(100%);
      vertical-align: bottom;
    }
    .name {
      font-size: 20px;
    }
    .start {
      color: #888;
      display: block;
      margin-left: 40px;
    }
    &.joinable {
      img.icon {
        filter: none;
      }
      a.name_holder { 
        display: inline-block;
        color: #000;
      }
      span.name_holder {
        display: none;
      }
    }
    &.lonely {
      opacity: 0.5;
      white-space: nowrap;
      overflow: hidden;
      .start {
        display: inline;
        font-size: 12px;
      }      
    }
  }
}
covidspeak-book {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow: hidden;
  .next,.back {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 80px;
    height: 80px;
    z-index: 1;
    border-width: 2px;
    img {
      width: 100%;
      height: 30px;
      object-fit: contain;
      object-position: center;
    }
  }
  .back {
    right: 90px;
  }
  .page {
    position: absolute;
    right: 10px;
    bottom: 90px;
    text-align: right;
    color: #aaa;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
  }
  .text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px Arial;
  }
  .img, .img_left, .img_right {
    position: absolute;
    top: 30%;
    height: 70%;
    object-fit: contain;
    object-position: center;
  }
  .img {
    left: 0;
    right: 0;
    width: 100%;
  }
  .img_left {
    left: 0;
    right: 50%;
    width: 50%;
  } 
  .img_right {
    left: 50%;
    right: 0;
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .grid .mid .preview #nav {
    .pres {
      display: block;
      text-align: left;
    }
    button {
      width: 45px;
      padding: 0;
      &.mute,&.unmute,&.toggle {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 700px) {
  #contents .grid {
    .cell {
      .text {
        font-size: 18px;
      }
      &.text_only .text {
        font-size: 24px;
      }
    }
  }
  #contents .grid .mid .preview #text {
    .text_input,.text_display {
      font-size: 20px;
      color: #fff;
      text-shadow: -3px 3px 0px #000, 3px 3px 0px #000, 3px -3px #000, -3px -3px 0 #000, -3px 3px 2px #000, 3px 3px 2px #000, 3px -3px 2px #000, -3px -3px 2px #000;
      text-stroke: 0px #fff;
      -webkit-text-stroke: 0px #fff;
      -webkit-text-fill-color: #fff;

    }
  }
  #contents .grid .menu {
    width: 60px;
    .button {
      img.icon {
        width: 80%;
        margin-left: 10%;
      }
      .label {
        .skinny {
          display: inline;
        }
        .wide {
          display: none;
        }
      }
      #bottom_popover {
        margin-top: -70px;
        .popover_carat {
          &::after {
            top: calc(50% + 30px);
          }
          &::before {
            top: calc(50% + 30px);
          }
        }
      }
      #grids_popover {
        margin-top: 30px;
      }
      .extras {
        width: 322px;
      }
      .grids,.reactions {
        max-width: calc(100vw - 60px);
        width: 265px;
      }
      .grids .grid_option {
        width: 76px;
      }
      .reactions img {
        width: 77px;
        margin: 5px;
      }
    }
  }
  .grid .mid .preview #status_holder {
    #status {
      padding: 5px;
      margin-left: 5px;
      margin-right: 5px;
      width: auto;
    }
    button {
      height: auto;
    }
  }

  .grid .mid #eyes > div {
    margin-left: -100px;
  }
  
}
@media (max-width: 620px) {
  #buy {
    margin-left: 0;
  }
}
@media (max-height: 450px) {
  #contents .grid .menu {
    .button img.icon {
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      height: calc(100% - 20px);
    }    
    .label {
      .skinny {
        display: inline;
      }
      .wide {
        display: none;
      }
    }
  } 
  #contents .grid .menu {
    width: 60px;
    .button {
      .grids .grid_option {
        height: 80px;
      }
      .extras {
        width: 532px;
      }
      .reactions img {
        height: 60px;
      }
    }
  }
  #contents #middle.join {
    display: block;
    .preview {
      max-height: 40vh;
    }
    .join,.buttons {
      width: 49%;
      margin-right: 1%;
      float: left;
    }
    .join,.buttons button {
      padding-top: 10px;
      height: 65px;
    }
  }
}