<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="background-color: #eee; padding: 20px 30px;">
    <div style="border: 1px solid #ccc; background: #fff; padding: 20px;">
      <%= yield %>
    </div>
  </body>
</html>
